form {
    width: 100%;
    margin-top: 44px;
    display: flex;
    gap: 16px;

    display: flex;
    flex-direction: row;

    & input {
        flex: 1;
        min-width: 0;
        padding: 11px 18px;
        border-radius: 12px;
        border: 2px solid var(--border-primary);
        font-size: var(--label);

        &::placeholder {
            color: var(--content-tertiary)
        }
    }

    & input:hover {
        border: 2px solid var(--border-hover);
    }

    input:focus {
        outline: 0;
        border: 2px solid var(--color-brand);
    }

    & #btn {
        padding: 10px 24px;
        border-radius: 12px;
        color: var(--always-white);
        background-color: var(--color-brand);
        font-size: var(--label);
        border: none;
        height: 44px;
        cursor: pointer;
    }

    #btn:hover {
        background-color: var(--color-brand-hover);
        transition: .4s;
    }


}

@media (max-width: 399px) {
    form {
        flex-direction: column;
        height: auto;
    }

    form input, #btn {
        margin-right: 0;
    }

    .title h1 {
        font-size: 20px;
    }
}