ul {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    margin-top: 40px;

    max-height: 195px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color-brand);
        border-radius: 100px;
    }


    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--background-secondary);
        padding: 10px 14px;
        border-radius: 12px;

        .container-chek {
            flex-grow: 1;
            cursor: pointer;
        }

        .container-chek {
            display: flex;
            align-items: center;
            gap: 12px;

            .paragraph {
                font-size: var(--paragraph);
                color: var(--content-secondary);
            }
        }

        & input[type="checkbox"] {
            appearance: none;
            border: 1px solid var(--border-primary);
            height: 16px;
            width: 16px;
            border-radius: 6px;

            &:hover {
                border: 1px solid var(--border-hover);
                cursor: pointer;
            }

            &:checked {
                background-color: var(--color-brand);
                background-image: url("../assets/icons/Vector.svg");
                background-size: 10px;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        .btn-lixo {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }

    .updateCheck {
        background-color: #eaeaea;

        .paragraph {
            text-decoration: line-through;
        }
    }
}
